# 1С служебные
*.1CD
*.log
*.dt
*.pfl
DumpIB.zip

# Docker
docker/platform/*.deb
docker/platform/*.tar.gz
docker/platform/*.rpm
docker/platform/*.run
docker-compose.override.yml

# Отчёты
reports/*.xml
reports/*.html
reports/*.json

# Python
__pycache__/
*.pyc
.venv/

# IDE
.idea/
.vscode/settings.json

# OS
.DS_Store
Thumbs.db
docker/licenses/*.lic